.myCenter2
{
    margin-left:auto;
    margin-right: auto;
    background-color: lavender;
    font-family: 'Trebuchet MS';
    font-size: larger;
}

.myCent2
{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 50px;
}

.myTh2
{
    column-span: 3;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size:large;
    color: blue;
}

.myTr2
{
    column-span: 3;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size:large;
    color: blue;
}

.myTable2
{
    margin-left:auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 5px;
    
    font-family: 'Lucida Sans Unicode';
    font-size: medium;
}

.myTable3
{
    margin-left:auto;
    margin-right: auto;
}

td, th
{
    border: 1px solid;
}

.myTd2
{
    border: none;
}
.myButton2
{
    margin-left: auto;
    margin-right: auto;
}
.myTd
{
    border: none;
}