<body class="myBody">
<div class="myDiv">
    <h1 class="myH1">Movie Magic Mahal</h1>
    <div class="myPic">
    </div>
    <div>
        <hr>
    </div>
    <table class="myTable">
        <tr>
            <td>
                <button type="button" (click)="list()" class="btn btn-dark">List All Movies</button>
            </td>
            <td>&nbsp;</td>    
            <td>
                <button type="button" (click)="add()" class="btn btn-dark">Add a new movie</button>
            </td>
            <td>&nbsp;</td>    
            <td>
                <button type="button" (click)="login()" class="btn btn-dark">Login</button>
            </td>
            <td>&nbsp;</td>    
            <td>
                <button type="button" (click)="logout()" class="btn btn-dark">Logout</button>
            </td>

        </tr>
    </table>
    <div>
        <hr>
    </div>
    <div>
        <p class="myPara">(C) Krishna Kumar Subramaniam</p>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>

</div>
</body>    